/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19  Distrib 10.6.23-MariaDB, for Linux (x86_64)
--
-- Host: localhost    Database: medth
-- ------------------------------------------------------
-- Server version	10.6.23-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `medth`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `medth` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */;

USE `medth`;

--
-- Table structure for table `bookings`
--

DROP TABLE IF EXISTS `bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `bookings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `branch_id` int(10) unsigned NOT NULL,
  `booking_code` varchar(30) NOT NULL,
  `customer_name` varchar(150) NOT NULL,
  `customer_phone` varchar(20) NOT NULL,
  `line_id` varchar(100) DEFAULT NULL,
  `booking_date` date NOT NULL,
  `time_slot_id` int(10) unsigned NOT NULL,
  `staff_id` int(10) unsigned NOT NULL,
  `notes` text DEFAULT NULL,
  `booking_status` enum('pending','confirmed','completed') NOT NULL DEFAULT 'pending',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_bookings_branch_code` (`branch_id`,`booking_code`),
  UNIQUE KEY `uk_bookings_branch_date_slot_staff` (`branch_id`,`booking_date`,`time_slot_id`,`staff_id`),
  KEY `idx_bookings_branch` (`branch_id`),
  KEY `idx_bookings_branch_date` (`branch_id`,`booking_date`),
  KEY `idx_bookings_staff_branch` (`staff_id`,`branch_id`),
  KEY `idx_bookings_branch_slot` (`branch_id`,`time_slot_id`)
) ENGINE=InnoDB AUTO_INCREMENT=340 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookings`
--

LOCK TABLES `bookings` WRITE;
/*!40000 ALTER TABLE `bookings` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookings_delete`
--

DROP TABLE IF EXISTS `bookings_delete`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `bookings_delete` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `branch_id` int(10) unsigned NOT NULL,
  `booking_code` varchar(30) NOT NULL,
  `customer_name` varchar(150) NOT NULL,
  `customer_phone` varchar(20) NOT NULL,
  `line_id` varchar(100) DEFAULT NULL,
  `booking_date` date NOT NULL,
  `time_slot_id` int(10) unsigned NOT NULL,
  `staff_id` int(10) unsigned NOT NULL,
  `notes` text DEFAULT NULL,
  `booking_status` enum('pending','confirmed','completed') NOT NULL DEFAULT 'pending',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `delete_by` varchar(100) DEFAULT NULL,
  `delete_note` text DEFAULT NULL,
  `delete_date_time` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_bookings_branch_code` (`branch_id`,`booking_code`),
  UNIQUE KEY `uk_bookings_branch_date_slot_staff` (`branch_id`,`booking_date`,`time_slot_id`,`staff_id`),
  KEY `idx_bookings_branch` (`branch_id`),
  KEY `idx_bookings_branch_date` (`branch_id`,`booking_date`),
  KEY `idx_bookings_staff_branch` (`staff_id`,`branch_id`),
  KEY `idx_bookings_branch_slot` (`branch_id`,`time_slot_id`)
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookings_delete`
--

LOCK TABLES `bookings_delete` WRITE;
/*!40000 ALTER TABLE `bookings_delete` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookings_delete` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `branches`
--

DROP TABLE IF EXISTS `branches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `branches` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `location_detail` varchar(255) DEFAULT NULL,
  `opening_hours` varchar(100) DEFAULT NULL,
  `coordinates` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `branches`
--

LOCK TABLES `branches` WRITE;
/*!40000 ALTER TABLE `branches` DISABLE KEYS */;
INSERT INTO `branches` VALUES (1,'เธชเธฒเธเธฒเธชเธขเธฒเธก','เนเธเธเธชเธขเธฒเธกเธชเนเธเธงเธฃเน เนเธเธฅเน BTS เธชเธขเธฒเธก','เธ—เธธเธเธงเธฑเธ 08:30-20:00','13.7466,100.5347',1),(2,'เธชเธฒเธเธฒเธญเนเธจเธ','เนเธเธเธญเนเธจเธเธกเธเธ•เธฃเธต เนเธเธฅเน BTS เธญเนเธจเธ / MRT เธชเธธเธเธธเธกเธงเธดเธ—','เธ—เธธเธเธงเธฑเธ 08:30-20:00','13.7376,100.5600',1);
/*!40000 ALTER TABLE `branches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `branch_id` int(10) unsigned NOT NULL,
  `staff_code` varchar(20) NOT NULL,
  `full_name` varchar(150) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `photo_path` varchar(255) DEFAULT NULL,
  `skill_note` varchar(255) DEFAULT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_staff_branch_code` (`branch_id`,`staff_code`),
  KEY `idx_staff_branch` (`branch_id`),
  KEY `idx_staff_id_branch` (`id`,`branch_id`)
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff`
--

LOCK TABLES `staff` WRITE;
/*!40000 ALTER TABLE `staff` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_leaves`
--

DROP TABLE IF EXISTS `staff_leaves`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_leaves` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `staff_id` int(10) unsigned NOT NULL,
  `branch_id` int(10) unsigned NOT NULL,
  `leave_date` date NOT NULL,
  `leave_type` enum('sick','personal','vacation') NOT NULL DEFAULT 'personal',
  `reason` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_staff_leaves_staff` (`staff_id`),
  KEY `idx_staff_leaves_branch` (`branch_id`),
  KEY `idx_staff_leaves_date` (`leave_date`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_leaves`
--

LOCK TABLES `staff_leaves` WRITE;
/*!40000 ALTER TABLE `staff_leaves` DISABLE KEYS */;
INSERT INTO `staff_leaves` VALUES (1,6,1,'2026-04-10','personal',NULL,'2026-04-10 03:41:31','2026-04-10 04:10:49'),(2,6,1,'2026-04-06','personal',NULL,'2026-04-10 03:54:00','2026-04-10 04:10:49'),(3,6,1,'2026-04-07','personal',NULL,'2026-04-10 03:54:00','2026-04-10 04:10:49'),(4,6,1,'2026-04-08','vacation',NULL,'2026-04-10 03:54:07','2026-04-10 04:10:49');
/*!40000 ALTER TABLE `staff_leaves` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `time_slots`
--

DROP TABLE IF EXISTS `time_slots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `time_slots` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `branch_id` int(10) unsigned NOT NULL,
  `begin_time` time NOT NULL,
  `end_time` time NOT NULL,
  `duration_minutes` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_time_slots_branch` (`branch_id`),
  CONSTRAINT `chk_time_slots_range` CHECK (`end_time` > `begin_time`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `time_slots`
--

LOCK TABLES `time_slots` WRITE;
/*!40000 ALTER TABLE `time_slots` DISABLE KEYS */;
INSERT INTO `time_slots` VALUES (16,1,'08:30:00','10:00:00',90),(17,2,'08:30:00','10:00:00',90),(18,1,'10:30:00','12:00:00',90),(19,2,'10:30:00','12:00:00',90),(20,1,'13:00:00','14:30:00',90),(21,2,'13:00:00','14:30:00',90),(22,1,'15:00:00','16:30:00',90),(23,2,'15:00:00','16:30:00',90),(24,1,'17:00:00','18:30:00',90);
/*!40000 ALTER TABLE `time_slots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'medth'
--

--
-- Dumping routines for database 'medth'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-18  0:50:54
